<header class="jc-header">
  <a class="brand" routerLink="/">
    JockeCorp&#8482;
    <span *ngIf="isConnected() && currentAlias()" class="alias">
      — {{ currentAlias() }}
    </span>
  </a>
  <nav class="nav">
    <a routerLink="/certificats" routerLinkActive="active">Certificats</a>
    <a routerLink="/dossier" routerLinkActive="active">Dossier</a>
    <a routerLink="/deculpabilisation" routerLinkActive="active">Déculpabilisation</a>
    <a routerLink="/formations" routerLinkActive="active">Formations</a>
    <a routerLink="/anomalies" routerLinkActive="active">Anomalies</a>
  </nav>
</header>
<p-toast></p-toast>
<main class="container">

  <router-outlet />
</main>

<footer class="jc-footer">
  <small>© Service des Dates Provisoires — 1893*–aujourd’hui* (*susceptible de changer)</small>
</footer>